@import url(https://use.typekit.net/ysf1kxa.css);
@import url("https://use.typekit.net/ysf1kxa.css");

body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: "neue-haas-grotesk-display", sans-serif; 
    line-height: 1.3;
    text-decoration: none;
}

/******header******/
.home-container{
    background-size: cover;
    height: 920px;
}

@media (max-width: 800px) {
    .home-container {
        height: 1000px;
    }
}

.header-container{
    width: 95%;
    position: relative;
    top: 40%;
    left: 60%;
    transform: translate(-60%, -40%);
}

.sub-description{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-top: 20px;
    margin-left: 500px;
    margin-right: 500px;
    align-content: center;

}

@media (max-width: 1900px) {
    .sub-description {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media (max-width: 800px) {
    .sub-description {
        margin-left: 100px;
        margin-right: 100px;
        font-size: 15px;
    }
}

.hero {
    text-align: center;
}

.hero img{
    width: 100%;
}

/******nav******/
nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1100px) {
    nav {
        font-size: 15px;
    }
}

nav ul {
    list-style: none;
    display: flex;
    justify-self: center;
}

nav li{
    margin: 0px 20px;
    display: flex;
}

/******buttons******/
a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

a:visited{
color:rgb(255, 255, 255);
text-decoration: none;
transition: ease-in-out;
transition-duration: .5ms;
}

a:hover{
    text-decoration: none;
    color:rgb(255, 255, 255);

    }


/******homepage layout*******/
.recreational, .prescription{
    background-color: black;
    padding-top: 40px;
}

.section-header{
    justify-content: center;
}

.section-subheader{
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 1;
    text-align: center;
    margin-top: 10px;
    align-content: center;
    margin-bottom: 60px;;
}

.section-title{
    text-align: center;
    margin-bottom: 10px;
}

.section-title img{
    max-width: 60%;
}

@media (max-width: 1100px) {
.section-title img{
    max-width: 95%;
    }
}

/******card layout******/
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    max-width: 70%;
    margin: 20px auto;
    grid-gap: 20px;
}

@media (max-width: 1100px) {
    .cards{
        max-width: 95%;
        }
    }

.card {
    border-radius: 5px;
}


.card-image{
    position: relative;
}

.card-image img{
    width: 100%;
    display: block;
}

.card-body{
    color:white;
    padding-top: 10px;
}

.card-title{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    padding: 0px 0 20px 0;
}

.view-button{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-bottom: 20px;
    padding-right: 1.5rem;
    justify-self: end;
    font-size: 20px;
}

.view-button:hover{
    color:rgb(164, 188, 95);
    text-decoration: underline;
}

/******drug pages******/
.drug-container{
    display: grid;
    grid-template-rows: repeat(2, .5fr);
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    justify-self: center;
    align-items: center;
    vertical-align: center;
}

@media (max-width: 900px) {
.drug-container{
    max-width: 90%;
    }
}

.drug-image{
    display: grid;
    grid-row: 1fr / 1fr;
    position: relative;
    padding-bottom: 10px;
}

.drug-image img{
    width: 100%;
}

.drug-body {
    display: grid;
    grid-row: 2fr / 1fr;
    line-height: 1;
}

.drug-type{
    font-size: 20px;
    padding-top: 30px;
}
@media (max-width: 1200px) {
    .drug-type{
        font-size: 15px;
        padding-top: 10px;
    }
}

.drug-title{
    font-size: 55px;
    padding-bottom: 40px;
    font-weight: 700;
}
@media (max-width: 1200px) {
    .drug-title{
        font-size: 40px;
        padding-bottom: 20px;
    }
}

.drug-description{
    font-size: 25px;
    border-top: solid white 2px;
    padding-top: 10px;
}
@media (max-width: 1200px) {
    .drug-description{
        font-size: 15px;
    }
}

.footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 15px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 10px 5px;
    border-top: white solid 2px;
}

.section-footer-title{
    display: grid;
    margin: 0 20px;
}

.section-footer-description{
    display: grid;
    text-align: right;
    margin: 0 20px;
}