@import url(https://use.typekit.net/ysf1kxa.css);
@import url("https://use.typekit.net/ysf1kxa.css");

body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: "neue-haas-grotesk-display", sans-serif; 
    line-height: 1.3;
    text-decoration: none;
}

/******header******/
.home-container{
    background-size: cover;
    height: 920px;
}

@media (max-width: 800px) {
    .home-container {
        height: 500px;
    }
}

.header-container{
    width: 95%;
    position: relative;
    top: 40%;
    left: 60%;
    transform: translate(-60%, -40%);
}

.sub-description{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-top: 20px;
    margin-left: 500px;
    margin-right: 500px;
    align-content: center;

}

@media (max-width: 1900px) {
    .sub-description {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media (max-width: 800px) {
    .sub-description {
        margin-left: 100px;
        margin-right: 100px;
        font-size: 15px;
    }
}

.hero {
    text-align: center;
}

.hero img{
    width: 100%;
}

/******nav******/
nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1100px) {
    nav {
        font-size: 15px;
    }
}

nav ul {
    list-style: none;
    display: flex;
    justify-self: center;
}

nav li{
    margin: 0px 20px;
    display: flex;
}

/******buttons******/
a{
    text-decoration: none;
}

a:visited{
color:rgb(255, 255, 255);
text-decoration: none;
transition: ease-in-out;
transition-duration: .5ms;
}

a:hover{
    text-decoration: none;
    }


/******homepage layout*******/
.recreational{
    background-color: white;
}

.prescription{
    background-color: black;
}

.section-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.section-title img{
    max-width: 95%;
}

/******card layout******/
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    max-width: 90%;
    margin: 10px auto;
    grid-gap: 20px;
}

.card {
    border-radius: 5px;
}


.card-image{
    position: relative;
}

.card-image img{
    width: 100%;
    display: block;
}

.card-body-black{
    color:white;
}

.card-body-white{
    color:black;
}

.card-title{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    padding: 0px 0 20px 0;
}

.card-description{
}

.card-price{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 20px;
    line-height: 1;
    padding: 0;
    padding-bottom: 5px;
    padding-top: 20px;
    justify-self: right;
}

@media (max-width: 900px) {
    .card-title, .card-price {
        font-size: 15px;
    }
}

.view-button{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-bottom: 20px;
    padding-right: 1.5rem;
    justify-self: end;
    font-size: 20px;
}

.view-button:hover{
    color:rgb(13, 13, 205);
    text-decoration: underline;
}

/******cartpage layout*******/

.cart-cards{
display: grid;
gap: 1.5rem;
grid-template-columns: repeat(3, 1fr);
max-width: 100%;
margin: 30px auto;
}

@media (max-width: 2100px) {
    .cart-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1500px) {
    .cart-cards {
        grid-template-columns: 1fr;
    }
}

.cart-card{
margin: 50px 70px;
}

.cart-card-content{
    grid-column: 1fr;
}

.cart-card-subtype{
    font-size: 20px;
    justify-self: left;
    margin: 10px 0px 0px 0px;
}

.cart-card-title{
    margin: 0px 10px 0px 0px;
    border-bottom: solid rgb(0, 0, 0) 2px;
    display: grid;
    grid-template-columns: 6fr 2.5fr;
}

.cart-card-title-name{
    font-size: 40px;
    font-weight: 700;
    justify-self: left;
}

.cart-card-title-avaliability{
    font-size: 15px;
    justify-self: right;
    display: inline-block;
    padding: 5px 15px;
    margin: 10px;
    border: black 2px solid;
    border-radius: 50px;
    color: black;
}

.cart-card-description{
    font-size: 20px;
    margin: 10px 10px 0px 0px;
}

.cart-card-price{
    font-size: 15px;
    margin: 80px 10px 0px 0px;
}

.cart-image-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: relative;
    transition: opacity 200ms ease-in-out;
    background-color: black;
}

.cart-image-overlay:hover{
    opacity: 1;
}
